@import 'common/styles/variables.scss';

.content {
  min-height: 100vh;
  overflow: hidden;
  color: black;
  --icon-color: black;
  display: flex;
  flex-direction: column;
  position: relative;

  &.dark {
    color: white;
    --icon-color: white;
    background: linear-gradient(180deg, #010614 0%, #0B1239 100%);;

    .number {
      color: rgb(63, 63, 63);
    }
  }

  &.grow-vertically {
    min-height: 100vh;
    height: auto;
    max-height: none;
  }

  &.grow-organically {
    min-height: auto;
    height: auto;
  }

  .content-background-image {
    position: absolute; 
    max-width: 900px; 
    right: 0px;
    top: max(16px, 4%);
    bottom: max(16px, 4%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .number {
    position: absolute;
    right: 0px;
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.10);

    p {
      margin-left: auto;
      font-size: 64px;
      letter-spacing: -1.28px;
    }
  }
}


.header {
  display: flex;
  justify-content: space-between;
}

.accordion {
  .accordion-item {

  }
}

// Cards
.flickity-container {
  width: calc(100% + 16px); // Account for padding on cards
  transform: translateX(-8px);

  // &.square-cards {
  //   width: calc(100% + 32px); // Account for padding on cards
  //   transform: translateX(-16px) !important;
  // }

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.image-card {
  width: max(100% / var(--nCards), 334px); // evenly divide cards to take up space, but never allow cards to be below 334px (unless they take up 100% of the viewport, in which case the max-width below will catch that)
  max-width: 100%;
  padding-right: 8px; // Cant rely on margin as it throws off alignment 
  padding-left: 8px;

  &:nth-child(2) {
    img {
      filter: none;
    }
  }
  
  .children {
    padding-right: 8px;
  }
}

.square-card {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FCFCFC;
  color: black;
}

.square-card-variation-1 {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .title {
    text-transform: uppercase;
    font-weight: 700;
    @include large-text;
  }

  .meta {
    margin-top: 20%;

    .github {
      text-decoration: underline;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .details {

    }
  }

  .description {
    color: $monochrome-6;
    @include big-text;
  }
}

.cards {
  outline: none !important;
}

.image {
  pointer-events: none;
  flex-shrink: 0;
  flex-grow: 1;
  pointer-events: auto;
  position: relative;

  &:before {
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(0deg, #2c2c2cd3 0%, rgba(133, 133, 133, 0) 30%);
  }

  img {
    filter: grayscale(0.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}